@{
    var controller = ViewContext.RouteData.Values["controller"]?
        .ToString()?
        .ToLower()
        ?? String.Empty;

    ViewData["Student's book number"] = 15350134;
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid">
    <ul class="navbar-nav">
        <li class="navbar-brand">
            @ViewData["student's book number"]
        </li>
        <li class="nav-item">
            <a class="nav-link @(controller == "home" ? "active" : "")" asp-controller="Home" asp-action="Index">Лб1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(controller == "game" ? "active" : "")" asp-controller="Game" asp-action="Index" asp-route-category="all" asp-route-pageNo="1" asp-route-pageSize="3">Каталог</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(controller == "admin" ? "active" : "")" asp-page="/Index" asp-area="Admin">Администрирование</a>
        </li>
    </ul>
</div>